.titlePic {
	width:auto;
	max-height: 10%;
}

.reviewContainer {
	width: 70%;
	height: auto;
	display: flex;
	flex-direction: column;
}

.statsContainer {
	width: 30%;
	height: auto;
	display: flex;
	flex-direction: column;
	background-color: darkgrey;
}

.actorsContainer {
	width: fit-content;
	height: auto;
	display: flex;
	flex-direction: row;
	background-color: darkgrey;
}

.review {
	padding-left: 2rem;
	padding-bottom: 0.5rem;
	background-color: lightgrey;
	color: black;
}

.review:nth-child(odd) {
	background-color: grey;
	color: white;
}

.body {
	padding-top: 18vh;
	display: flex;
	flex-direction: column;
}